*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(0, 0, 42);
}
html{
    font-size: 62.5%;
}

::-webkit-scrollbar {
	width: 1px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: transparent;
}

::-webkit-scrollbar-thumb:hover {
	background: transparent;
}